{% extends 'base.html' %}

{% block content %}
  <h1>Cart</h1>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for cart_item in cart_items %}
        <tr>
          <td>{{ cart_item.product }}</td>
          <td>{{ cart_item.quantity }}</td>
          <td>{{ cart_item.price}}</td>
          <td></td>
          <td>
            <a href="{% url 'booklist' %}">home</a>
            <a href="{% url 'remove_from_cart' cart_item.id %}">Remove</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"></td>
        <td>{{ total }}</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
{% endblock %}
