
{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
      
      .carousel-container {
        border-radius: 30px;
        overflow: hidden;
        width: 1450px;
        margin-left:-170px ;
        position: relative;
        box-shadow: 0 0 30px -20px #223344;

        z-index: 0;
      }
      
      /* Hide the images by default */
      .mySlides {
        display: none;
      }
      .mySlides img {
        display: block;
        width: 1500px;
        height: 400px;
      }
      
      /* image gradient overlay [optional] */
      /*  .mySlides::after {
        content: "";
        position: absolute;
        inset: 0;
          background-image: linear-gradient(-45deg, rgba(110, 0, 255, .1), rgba(70, 0, 255, .2));
      } */
      
      /* Next & previous buttons */
      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: auto;
        padding: 20px;
        color: white;
        font-weight: bold;
        font-size: 24px;
        border-radius: 0 8px 8px 0;
        background: rgba(173, 216, 230, 0.1);
        user-select: none;
      }
      .next {
        right: 0;
        border-radius: 8px 0 0 8px;
      }
      .prev:hover,
      .next:hover {
        background-color: rgba(173, 216, 230, 0.3);
      }
      
      /* Caption text */
      .text {
        color: #f2f2f2;
        background-color: rgba(10, 10, 20, 0.1);
        backdrop-filter: blur(6px);
        border-radius: 10px;
        font-size: 20px;
        padding: 8px 12px;
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
      }
      
      /* Number text (1/3 etc) */
      .number {
        color: #f2f2f2;
        font-size: 16px;
        background-color: rgba(173, 216, 230, 0.15);
        backdrop-filter: blur(6px);
        border-radius: 10px;
        padding: 8px 12px;
        position: absolute;
        top: 10px;
        left: 10px;
      }
      .dots-container {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%);
      }
      
      /* The dots/bullets/indicators */
      .dots {
        cursor: pointer;
        height: 14px;
        width: 14px;
        margin: 0 4px;
        background-color: rgba(173, 216, 230, 0.2);
        backdrop-filter: blur(2px);
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.3s ease;
      }
      .active,
      .dots:hover {
        background-color: rgba(173, 216, 230, 0.8);
      }
      
      /* transition animation */
      .animate {
        -webkit-animation-name: animate;
        -webkit-animation-duration: 1s;
        animation-name: animate;
        animation-duration: 2s;
      }
      
      @keyframes animate {
        from {
          transform: scale(1.1) rotateY(10deg);
        }
        to {
          transform: scale(1) rotateY(0deg);
        }
      }
      .row{
        margin-left:30px;
        margin-top:30px ;
      }

</style>
<div class="carousel-container">
    <div class="mySlides animate">
      <img src="{% static 'media/book1.jpg' %}" alt="slide" />


    </div>
  
    <div class="mySlides animate">
      <img src="{% static 'media/book2.jpg' %}" alt="slide" />


    </div>
  
    <div class="mySlides animate">
      <img src="{% static 'media/book3.jpg' %}" alt="slide" />


    </div>
  
    <div class="mySlides animate">
      <img src="{% static 'media/book4.jpg' %}" alt="slide" />


    </div>
  
    <div class="mySlides animate">
      <img src="{% static 'media/book5.jpg' %}" alt="slide" />


    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="prevSlide()">&#10094;</a>
    <a class="next" onclick="nextSlide()">&#10095;</a>
  
    <!-- The dots/circles -->
    <div class="dots-container">
      <span class="dots" onclick="currentSlide(1)"></span>
      <span class="dots" onclick="currentSlide(2)"></span>
      <span class="dots" onclick="currentSlide(3)"></span>
      <span class="dots" onclick="currentSlide(4)"></span>
      <span class="dots" onclick="currentSlide(5)"></span>
    </div>
  </div>

<div class="row">
    
    {% for each in object_list %}
    <div class="col-3" id='col'>
        <br>
        <div class="card" style="width: 13rem;">
            <img src="{{ each.image_url }}" class="card-img-top" alt="...">
            <a href="{% url 'add_to_fav' each.id %}"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"/></svg> </a>
            <div class="card-body">
                <h5 class="card-title">{{ each.title|slice:":25"}} ...</h5>
                <p class="card-text">${{ each.price|floatformat:2 }}</p>                
                {% if each.book_available is True %}
                <li class="text-primary">Available</li>
                <a href="{% url 'detail' each.id %}" class="btn btn-primary">View</a>
                <a href="{% url 'add_to_cart' each.id %}" class="btn btn-primary" style=background:white;color:black;>add to cart</a>
                {% else %}
                <li class="text-danger">Out of Stock !</li>
                <a href="{% url 'detail' each.id %}" class="btn btn-primary">View</a>
                {% endif %}
            </div>
            
        </div>
    </div>
    {% endfor %}
<script>
    let slideIndex = 0;
showSlides();

// Next-previous control
function nextSlide() {
  slideIndex++;
  showSlides();
  timer = _timer; // reset timer
}

function prevSlide() {
  slideIndex--;
  showSlides();
  timer = _timer;
}

// Thumbnail image controlls
function currentSlide(n) {
  slideIndex = n - 1;
  showSlides();
  timer = _timer;
}

function showSlides() {
  let slides = document.querySelectorAll(".mySlides");
  let dots = document.querySelectorAll(".dots");

  if (slideIndex > slides.length - 1) slideIndex = 0;
  if (slideIndex < 0) slideIndex = slides.length - 1;
  
  // hide all slides
  slides.forEach((slide) => {
    slide.style.display = "none";
  });
  
  // show one slide base on index number
  slides[slideIndex].style.display = "block";
  
  dots.forEach((dot) => {
    dot.classList.remove("active");
  });
  
  dots[slideIndex].classList.add("active");
}

// autoplay slides --------
let timer = 7; // sec
const _timer = timer;

// this function runs every 1 second
setInterval(() => {
  timer--;

  if (timer < 1) {
    nextSlide();
    timer = _timer; // reset timer
  }
}, 1000); // 1sec
</script>
</div>

{% endblock content %}

