
{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  @media only screen and (max-width: 600px) {
    .col{
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  }
</style>
<body style="background-color: #eee;">
  

  <br>
    {% for each in object_list %}

  <section >
    <div class="container py-5">
        <div class="row justify-content-center mb-3">
          <div class="col-md-12 col-xl-10">
            <div class="card shadow-0 border rounded-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                      <a href="{% url 'detail' each.id %}"><img src="{{ each.image_url }}"
                        class="w-100" /></a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-6">
                    <h5>{{ each.title|slice:":25"}} ...</h5>
                    <div class="d-flex flex-row">
                      <div class="text-danger mb-1 me-2">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                    <div class="mt-1 mb-0 text-muted small">
                      <span>About django</span>
                      <span class="text-primary"> • </span>
                      <span>Low price</span>
                      <span class="text-primary"> • </span>
                      <span>Best Ever<br /></span>
                    </div>
                    <p class="text-truncate mb-4 mb-md-0">
                        {{ each.description }}
                    </p>
                  </div>
                  <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                    <div class="d-flex flex-row align-items-center mb-1">
                      <h4 class="mb-1 me-1">${{ each.price|floatformat:2 }}</h4>
                    </div>
                    {% if each.book_available is True %}
                    <h6 class="text-success">Available</h6>
                    {% else %}
                    <h6 class="text-danger">Out of Stock !</h6>
                    {% endif %}
                    <div class="d-flex flex-column mt-4">
                        <a href="{% url 'detail' each.id %}"><button class="btn btn-primary btn-sm" type="button">Details</button></a>
                        <a href="{% url 'add_to_cart' each.id %}" ><button class="btn btn-outline-primary btn-sm mt-2" type="button">
                          <i class="fa fa-shopping-cart"></i> Add to Cart
                          </button></a>
                          <a href="{% url 'add_to_fav' each.id %}" ><button class="btn btn-outline-danger btn-sm mt-2" type="button">
                            <i class="fa fa-heart"></i> Add to Favourite
                          </button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>

    {% endfor %}
    <script src="//code.tidio.co/umxxtmw1kpaq3zsveo1myuuw090xjbp9.js" async></script>

  </body>


{% endblock content %}

